CLIPS/run.sh
MAP&MPE/.idea/
MAP&MPE/target/
Testi/
Prolog/Eseguibili/
Prolog/Metro Londra/station_pair.pl
Prolog/Metro Londra/Stations.csv
Prolog/Metro Londra/StationsDistance.csv
Prolog/Metro Londra/tube06-07.pl
Prolog/Metro Londra/metro_zone_3_close.pl